h3{
	font-size:20px;
	color:white;

}
.navbar{overflow: hidden;
background-color:#777777ad;
bottom:0
width:100%
position:sticky;
top: 0:;
 {
    box-sizing: border-box;
    body {
    font-family: Arial, Helvetica, sans-serif;
}
}
<p>color:white
